.ListedFlashcards {
    margin-block: 5rem;
    padding-inline: 2rem;

    &Heading {
        font-size: 2.4rem;
    }
    &FiltersContainer {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
    }
}
