@mixin container-base {
    padding: 2rem;
    background-color: transparent;
}
@mixin borderless {
    border: none;
}
@mixin flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flex-start-both {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}