.SearchBar
{
    &Input
    {
        min-width: 200px;
        width: 30rem;
        height: 1.6rem;
        font-size: 1.2rem;
        background-color: lightgreen;
        border-radius: 1rem;
        padding: 0.5rem;
        border: none;
        color: forestgreen;
    }

    &Input:focus
    {
        border: 2px solid green;
    }
}