.SearchBar {
    display: flex;
    justify-content: center;
    align-items: center;

    &Input {
        min-width: 200px;
        width: 30rem;
        font-size: 1.6rem;
        background-color: var(--color-surface);
        border-radius: 2rem;
        padding: 1rem;
        border: none;
        color: var(--color-text-primary);
    }

    &Input:focus {
        border: var(--border-thick);
    }
}
