.ButtonAdd
{
    background-color: forestgreen;
    color: whitesmoke;
    border-radius: 100%;
    border: none;
    margin-inline: 1.2rem;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: bolder;

    //position: relative;
    //display: inline-block;
    //border-bottom: 1px dotted black; /* Add dots under the hoverable text */
    cursor: pointer;

    &:hover .TooltipText {
        visibility: visible;
    }

}
.TooltipText
{
    visibility: hidden; /* Hidden by default */
    width: 130px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1; /* Ensure tooltip is displayed above content */
}