.Main {
    display: flex;
    justify-content: center;

    &Right {
        width: 60%;
    }

    &Options, &LearnOptions {
        width: 50%;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    &Options {
        float: right;
        justify-content: flex-end;
    }

    &LearnOptions {
        float: left;
        justify-content: flex-start;
    }
}
