* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

:root, [data-theme="light"] {
    --color-bg: #ffffff;
    --color-surface: #f0fdf4;

    --color-text-primary: #111111;
    --color-text-secondary: #333333;
    --color-text-buttons: #e3f0e3;

    --color-accent: #22c55e;
    --color-accent2: #16a34a;
    --color-accent3: #166534;
    --color-accent4: #003300;

    --color-border: #bbf7d0;//#e0ffe0; // #bbf7d0
    --border: 1px solid var(--color-border);

    --shadow: 0 0 0 2px rgba(34, 197, 94, 0.2);
    --shadow-big: 0 8px 16px rgba(0, 0, 0, 0.1);

    --transition: all 0.3s ease;
    --transition-long: all 550ms;
}


[data-theme="dark"] {
    --color-bg: #121212;
    --color-surface: #1e1e1e;
    --color-text-primary: #f1f1f1;
    --color-text-secondary: #aaaaaa;
    --color-accent: #bb86fc;
    --color-border: #333333;
}

html {
    font-family: Roboto, sans-serif;
    font-size: 10px;

    body {
        background-color: var(--color-bg);
    }

    #root {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
    }
}

#root > div:last-of-type {
    //display: none;
    font-size: 1.4rem;
}

button {
    padding: 1rem;
    background-color: var(--color-accent);
    color: var(--color-text-buttons);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
    transition: background-color 0.2s;

    &:hover {
        background-color: var(--color-accent2);
    }
}

input {
    padding: 1rem;
    border: var(--border);
    border-radius: 0.5rem;
    outline: none;
    font-size: 1.6rem;
    color: var(--color-text-primary);

    &:focus {
        border-color: var(--color-accent);
        box-shadow: var(--shadow);
    }
}

.container-vertical-borderless {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    border: none;
    background-color: lightgreen;
}
