* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

:root, [data-theme="light"] {
    --color-bg: #ffffff;
    --color-surface: #f0fff4;

    --color-text-primary: #3c4a3e;//#111111;
    --color-text-secondary: #9fafa1;//#333333;
    --color-text-buttons: #e3f0e3;

    --color-accent: #22c55e;
    --color-accent2: #009e3b;
    --color-accent3: #007816;
    --color-accent4: #005400;
    --color-accent5: #003200;

    --color-border: #88d0d0;//#e0ffe0; // #bbf7d0
    --border: 1px solid var(--color-border);
    --border-thick: 2px solid var(--color-accent4);

    --shadow: 0 0 0 2px rgba(20, 120, 20, 0.2);
    --shadow-big: 0 8px 16px rgba(0, 0, 0, 0.1);

    --transition: all 0.3s ease;
    --transition-long: all 550ms;
}


[data-theme="dark"] {
    --color-bg: #121613;
    --color-surface: #1e2621;

    --color-text-primary: #e8f3ea;
    --color-text-secondary: #a0ada2;
    --color-text-buttons: #e3f0e3;//#121613;
/*
    --color-accent: #4ade80;
    --color-accent2: #22c55e;
    --color-accent3: #16a34a;
    --color-accent4: #15803d;
    --color-accent5: #166534;
*/

    --color-accent5: #22c55e;
    --color-accent4: #009e3b;
    --color-accent3: #007816;
    --color-accent2: #005400;
    --color-accent: #003200;

    --color-border: #2a3d30;
    --border: 1px solid var(--color-border);
    --border-thick: 2px solid var(--color-accent4);

    --shadow: 0 0 0 2px rgba(74, 222, 128, 0.2);
    --shadow-big: 0 8px 16px rgba(0, 0, 0, 0.5);

    --transition: all 0.3s ease;
    --transition-long: all 550ms;
}
html {
    font-family: Roboto, sans-serif;
    font-size: 10px;

    body {
        background-color: var(--color-bg);
    }

    #root {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
    }
}

#root > div:last-of-type {
    //display: none;
    font-size: 1.4rem;
}

button {
    padding: 1rem;
    background-color: var(--color-accent);
    color: var(--color-text-buttons);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
    transition: background-color 0.2s;

    &:hover {
        background-color: var(--color-accent2);
    }
}

input {
    padding: 1rem;
    border: var(--border);
    border-radius: 0.5rem;
    outline: none;
    font-size: 1.6rem;
    color: var(--color-text-primary);
    background-color: var(--color-surface);

    &:focus {
        border-color: var(--color-accent);
        box-shadow: var(--shadow);
    }
}

a {
    color: var(--color-accent);
    text-decoration: none;
    font-size: 1.4rem;
}

.container-borderless {
    padding: 2rem;
    background-color: transparent;
    border: none
}

.container-positioner {
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.container-horizontal-borderless {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    border: none;
    background-color: transparent;
}

.container-vertical-borderless {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    border: none;
    background-color: transparent;
}

