.Header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-accent);
    box-shadow: var(--shadow-big);

    &Left, &Right {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline: 1.4rem;
    }

}
